config-local

# dont push keys and kubeconfig files as they include keys as well
*.key
*.kubeconfig

# dont push the encryoption-config.yaml as it includes a key used by ETCD for at rest encryption
Ubuntu18/Install/my-kubernetes/etcd/encryption-config.yaml
