config-local

# dont push keys and kubeconfig files as they include keys as well
*.key
*.kubeconfig

# dont push terraform sensitive files
*.tfstate
*.tfstate.backup
.terraform/
*.tfplan
*.ova

# dont push the encryoption-config.yaml as it includes a key used by ETCD for at rest encryption
**/encryption-config.yaml

# dont push admin.conf as it also includes keys
**/admin.conf
